<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GMS|Login Form</title>
</head>
<body>
    <form method="post">
        <label for="user-name" ><strong>Username: </strong></label>
        <input type="text" placeholder="Enter Your Username" name="user-name"><br>
        <label for="user-name"><strong>Password: </strong></label>
        <input placeholder="Enter Your Password" type="text" name="password"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>